@font-face {
    font-family: 'Bitcheese';
    src: url('Bitcheese.woff2') format('woff2'),
        url('Bitcheese.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitcheese';
    src: url('Bitcheese.woff2') format('woff2'),
        url('Bitcheese.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

